@media (min-width:768px){

#menu{
display:none;
}

nav{
display:flex;
flex-direction:row;
}

nav a{
border:none;
padding:1rem 2rem;
}

.grid{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
}

.courses{
margin-top:20px;
}

}