@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex !important;
        gap: 1rem;
        margin: 0;
    }

    #menuBtn {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero {
        height: 400px;
    }
}