@media (min-width: 768px) {

    /* 4 CARDS SIDE BY SIDE */
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero {
        height: 400px;
    }
}

@media (min-width: 768px) {

    .contact-modern {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .contact-left {
        flex: 1;
    }

    .contact-right {
        flex: 1;
        text-align: center;
    }
}