/* =========================
   GLOBAL
========================= */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* =========================
   HEADER
========================= */
header {
    background: #0A3D73;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

/* NAV */
nav {
    margin-top: 1rem;
}

#menuBtn {
    background: #ffd166;
    border: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

nav ul.show {
    display: block;
}

nav ul li {
    margin: 0.5rem 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

/* =========================
   MAIN
========================= */
main {
    padding: 1rem;
}

/* =========================
   HERO
========================= */
.hero {
    position: relative;
    height: 300px;
    background: url("../images/lagos.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
}

.cta-btn {
    background: #ffd166;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

/* =========================
   GRID
========================= */
.grid {
    display: grid;
    gap: 1rem;
}

/* =========================
   FOOTER
========================= */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #002b5c;
    color: #fff;
}